<!DOCTYPE html>
<html xmlns="http:/ /www.w3.org/1999/xhtml"
  xmlns:th="http:/ /www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>TME</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-white">

  <nav class="sticky bg-white shadow-md">
    <div class="w-full px-2 sm:px-4 lg:py-1">
      <div class="flex items-center justify-between h-16">

        <!-- Left: Logo -->
        <div class="flex-shrink-0">
          <a href="/" class="text-xl font-bold text-black-600">ME</a>
        </div>

        <!-- Center: Nav Links (flex-grow and center) -->
        <div class="hidden md:flex flex-1 space-x-6 pl-6">
          <a href="/" class="inline-block font-mono bg-gray-100 text-black px-3 py-2 rounded hover:bg-blue-500">Home</a>
          <a href="#" class="inline-block font-mono bg-gray-100 text-black px-3 py-2 rounded hover:bg-blue-500">Military</a>
          <a href="#" class="inline-block font-mono bg-gray-100 text-black px-3 py-2 rounded hover:bg-blue-500">About</a>
          <a href="#" class="inline-block font-mono bg-gray-100 text-black px-3 py-2 rounded hover:bg-blue-500">Contact</a>
          <a href="/articles" class="inline-block font-mono bg-gray-100 text-black px-3 py-2 rounded hover:bg-blue-500">Latest News</a>

        </div>

        <!-- Right: Search bar -->
        <div class="hidden md:block flex-shrink-0">
          <input
            type="text"
            placeholder="Search article"
            class="border border-gray-300 rounded-md px-3 py-1 focus:outline-none focus:ring-2 focus:ring-blue-400"
          />
        </div>
        <!-- Right justified login button-->
        <div class="hidden md:hidden lg:flex rounded pl-4">
            <a href="/login" class="block bg-blue-500 rounded px-3 py-1 text-black-700 hover:text-gray-200">Login</a>
        </div>
        <!-- Mobile menu button -->
        <div class="md:hidden flex-shrink-0">
            <button id="menu-btn" class="text-gray-700 hover:text-blue-600 focus:outline-none">
              <!-- Hamburger icon -->
              <svg class="w-6 h-6" fill="none" stroke="currentColor" stroke-width="2"
                   viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round">
              </svg>
            </button>
          </div>
        </div>
      </div>
  
      <!-- Mobile menu (shown only when toggled) -->
      <div id="mobile-menu" class="md:hidden hidden px-4 pb-4 space-y-2 bg-white shadow-sm">
        <a href="#" class="block text-gray-700 hover:text-blue-500">Home</a>
        <a href="#" class="block text-gray-700 hover:text-blue-500">About</a>
        <a href="#" class="block text-gray-700 hover:text-blue-500">Contact</a>
        <a href="#" class="block text-gray-700 hover:text-blue-500">Add Article</a>
        <input
          type="text"
          placeholder="Search..."
          class="w-full border border-gray-300 rounded-md px-3 py-1 focus:outline-none focus:ring-2 focus:ring-blue-400"
        />
        <a href="#" class="block text-blue-700 hover:text-black-600">Login</a>
      </div>

      </div>
    </div>
  </nav>

  <div id="middle-content-div">
      <main class="w-full h-screen mx-auto px-2 lg:mx-0 lg:px-16 sm:px-6 mt-4">
            <div class="grid grid-cols-1 sm:grid-cols-9 bg-blue-400 gap-4 h-full rounded p-8 shadow-md">
          
              <!-- Mid Column -->
              <div class="bg-white border border-gray-600 p-2 rounded sm:col-span-6">
                <div class="relative rounded">
                      
                  <form th:action="@{/register}" method="POST" id="registrationForm" class="max-w-sm mx-auto my-2 py-4">
                    <div class="mb-5">
                      <label for="username" class="block mb-2 text-sm font-medium text-gray-900">User Name</label>
                      <input type="text" name="userName"class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" required />
                    </div>
                    <div class="mb-5">
                      <label for="firstname" class="block mb-2 text-sm font-medium text-gray-900">First Name</label>
                      <input type="text" name="firstName" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" required />
                    </div>
                    <div class="mb-5">
                      <label for="lastName" class="block mb-2 text-sm font-medium text-gray-900">Last Name</label>
                      <input type="text" name="lastName" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" required />
                    </div>
                    <div class="mb-5">
                        <label for="emailAddress" class="block mb-2 text-sm font-medium text-gray-900">Email Address</label>
                        <input type="email" name="emailAddress" id="emailAddress" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" required />
                        <p class="block text-sm font-medium text-gray-500">* Will be used as login user identifier. (Username)</p>
                    </div>
                    <div class="mb-5">
                        <label for="password" class="block mb-2 text-sm font-medium text-gray-900">Password</label>
                        <input type="password" name="password" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" required />
                    </div>
                    <div class="mb-5">
                      <label for="passwordConfirm" class="block mb-2 text-sm font-medium text-gray-900">Confirm Password</label>
                      <input type="password" name="passwordConfirm" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" required />
                  </div>
                    <div class="flex items-start mb-5">
                      <div class="flex items-center h-5">
                        <input id="logAfter" type="checkbox" value="" class="w-4 h-4 border border-gray-300 rounded-sm bg-gray-50 focus:ring-3 focus:ring-blue-300"/>
                      </div>
                      <label for="logAfter" class="ms-2 text-sm font-medium text-gray-900">Log in after registration</label>
                    </div>
                    <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center">Submit</button>
                  </form>
                </div>
              </div>
            </div>
      </main>     
      <script>
            const menuBtn = document.getElementById('menu-btn');
            const mobileMenu = document.getElementById('mobile-menu');
            const rightCol = document.getElementById('rightCol');

            menuBtn.addEventListener('click', () => {
              mobileMenu.classList.toggle('hidden');
            });

      </script>     
  </div>
</body>
</html>
